@import url('https://fonts.googleapis.com/css?family=Alegreya Sans SC');
@import url('http://fonts.cdnfonts.com/css/gibson');

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 100%; */
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  display: inline;
  vertical-align: middle;
  list-style: none;
  padding-left: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  display: inline;
  font-size: 16pt;
  padding-left: 2rem;
  font-family: 'Alegreya Sans SC';

}

.navbar {
  grid-column: 1/4;
  text-align: right;
  padding: 2%;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

.content {
  text-align: center;
  grid-column: 1;
  height: 100%;
  background-color: #caece3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;


}

#profile:hover {
  transform: scale(1.15);

}

img#profile2 {
  max-width: 200px;
  border-radius: 50%;
}

img#profile {
  max-width: 300px;
  border-radius: 50%;
  margin-top: 10%;
  transition: width 2s, height 2s, transform 2s;

}

#profile {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);

}

.name {
  grid-column: 2 / 4;
  height: 100%;
  background-color: #caece3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

h2 {
  font-family: 'Alegreya Sans SC';
  font-size: 34pt;

}

.aboutmepic {
  grid-column: 1;
  text-align: center;
  background-color: #caece3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 11% 5% 5% 5%;

}

.aboutme {
  grid-column: 2/ span 2;
  padding: 6% 5% 5% 5%;

  background-color: #caece3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

h3 {
  text-align: left;
  font-family: 'Alegreya Sans SC';
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
  padding: 5%;
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  font-size: 14pt;
  background-color: white;
}

h4 {
  font-size: 20pt;
  font-family: 'Alegreya Sans SC';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.headabout {
  grid-column: 1/4;
  margin-left: 5%;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Gibson', sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  font-size: calc(2rem + 2vw);
  text-align: center;
  margin: 0;
  margin-top: 15%;
  color: var(--color-primary);
  animation: shadows 2s ease-in infinite, move 2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-12px, -12px);
  }

  50% {
    transform: translate(-12px, -12px);
  }

  60% {
    transform: translate(-12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

#button {
  text-align: center;
  margin-bottom: 10%;
}

.button {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: #FDAFAB;
  border: none;
  color: #abbfd8;
  font-size: 20px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 20px;
}

.button a {
  color: #f7efe9;
  text-decoration: none;
}

.button:hover {
  background-color: #B7ADCF;
  color: #DEE7E7;
  border: 0;
  margin-left: 60px;
  margin-right: 20px;
  transform: scale(1.20);
}

.headexperience {
  grid-column: 1/4;
  margin-left: 5%;
}

.experience {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr;
  /* width: max-content; */
  background-color: #caece3;
  border-radius: 20px;
}

.timeline {
  grid-column: 2;
  font-family: 'Alegreya Sans SC';
  font-size: 14pt;
  letter-spacing: 0.5px;
  /* box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307); */
  padding: 5%;
  height: 95%;
  margin-bottom: 10%;
}

.timeline2 {
  grid-column: 4;
  font-family: 'Alegreya Sans SC';
  font-size: 14pt;
  letter-spacing: 0.5px;
  padding: 5%;
  height: 95%;
}

.headwork {
  grid-column: 1/4;
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.recentwork {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 20%;
  text-align: center;
  font-size: 16pt;
  background-color: #caece3;
  padding: 5% 2% 5%;
  border-radius: 20px;
}


#project {
  border: 0;
  border-radius: 10px;
  max-width: 250px;
  max-height: 250px;
  margin-left: 17%;
  background-color: #caece3;
}

#project2 {
  border: 0;
  border-radius: 10px;
  max-width: 250px;
  max-height: 250px;
  margin-left: 17%;
}


#project img {
  max-height: 250px;
  border-radius: 10px;

}

#project2 p {
  font-size: 16pt;

}

#project2 p:hover {
  font-size: 24pt;
}

.container2 {
  grid-column: 1;
  margin-top: 50%;
  width: 100%;
  height: 357px;

}

.container3 {
  grid-column: 3;
  margin-top: 30%;
  width: 100%;
  height: 357px;

}

.lines {
  margin-left: 40%;
  margin-top: 90%;

}

.dot {
  width: 14px;
  height: 14px;
  background: #ee6352;
  border-radius: 7px;
}

.line {
  height: 132px;
  width: 2px;
  background: #D1D6E6;
  margin-left: 5.3px;
}

/* _____________________________________900_____________________________________________ */

@media only screen and (max-width: 1800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
  }
  ul {
      display: inline;
      vertical-align: middle;
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 0;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  li {
      display: inline;
      font-size: 16pt;
      padding-left: 2rem;
      font-family: 'Alegreya Sans SC';
  
  }
  .navbar {
      grid-column: 1/4;
      text-align: right;
      padding: 2%;
      border-bottom: 2px solid black;
      margin-bottom: 2%;
  }

  .content {
    text-align: center;
    grid-column: 1;
    height: 100%;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
  
  }
  #profile:hover {
    transform: scale(1.15);
  
  }
  
  img#profile2 {
    max-width: 200px;
    border-radius: 50%;
  }
  
  img#profile {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 5%;
    transition: width 2s, height 2s, transform 2s;
  
  }
  
  #profile {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
  
  }

  .name {
    grid-column: 2 / 4;
    height: 100%;
    background-color: #caece3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  h2 {
    font-family: 'Alegreya Sans SC';
    font-size: 34pt;
  
  }
  
  .aboutmepic {
    grid-column: 1;
    text-align: center;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 11% 5% 5% 5%;
  
  }
  
  .aboutme {
    grid-column: 2/ span 2;
    padding: 6% 5% 5% 5%;
  
    background-color: #caece3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  h3 {
    text-align: left;
    font-family: 'Alegreya Sans SC';
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    margin-left: 10%;
    font-size: 14pt;
    background-color: white;
  }

  h4 {
    font-size: 14pt;
    font-family: 'Alegreya Sans SC';
  }

  .recentwork {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    text-align: center;
    font-size: 16pt;
    background-color: #caece3;
    padding: 5% 2% 14%;
    border-radius: 20px;
  }
  
  
  #project {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left: 27%;
    background-color: #caece3;
  }
  
  #project2 {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left:27%;
  }
  
  
  #project img {
    max-height: 250px;
    border-radius: 10px;
  
  }
  
  #project2 p {
    font-size: 16pt;
  
  }
  
  #project2 p:hover {
    font-size: 24pt;
  }
 }

/* _____________________________________768_____________________________________________ */

 @media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
  }
  ul {
      display: inline;
      vertical-align: middle;
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 0;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  li {
      display: inline;
      font-size: 16pt;
      padding-left: 2rem;
      font-family: 'Alegreya Sans SC';
  
  }
  .navbar {
      grid-column: 1/4;
      text-align: right;
      padding: 2%;
      border-bottom: 2px solid black;
      margin-bottom: 2%;
  }

  .content {
    text-align: center;
    grid-column: 1;
    height: 100%;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
  
  }
  #profile:hover {
    transform: scale(1.15);
  
  }
  
  img#profile2 {
    max-width: 200px;
    border-radius: 50%;
  }
  
  img#profile {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 5%;
    transition: width 2s, height 2s, transform 2s;
  
  }
  
  #profile {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
  
  }

  .name {
    grid-column: 2 / 4;
    height: 100%;
    background-color: #caece3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  h2 {
    font-family: 'Alegreya Sans SC';
    font-size: 34pt;
  
  }
  
  .aboutmepic {
    grid-column: 1;
    text-align: center;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 11% 5% 5% 5%;
  
  }
  
  .aboutme {
    grid-column: 2/ span 2;
    padding: 6% 5% 5% 5%;
  
    background-color: #caece3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  h3 {
    text-align: left;
    font-family: 'Alegreya Sans SC';
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    margin-left: 10%;
    font-size: 14pt;
    background-color: white;
  }

  h4 {
    font-size: 14pt;
    font-family: 'Alegreya Sans SC';
  }

  .recentwork {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    text-align: center;
    font-size: 16pt;
    background-color: #caece3;
    padding: 5% 5% 25%;
    border-radius: 20px;
  }
  
  
  #project {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left: 5%;
    background-color: #caece3;
  }
  
  #project2 {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left: 5%;
  }
  
  
  #project img {
    max-height: 250px;
    border-radius: 10px;
  
  }
  
  #project2 p {
    font-size: 16pt;
  
  }
  
  #project2 p:hover {
    font-size: 24pt;
  }
 }

 /* _____________________________________800_____________________________________________ */

 @media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
  }
  ul {
      display: inline;
      vertical-align: middle;
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 0;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  li {
      display: inline;
      font-size: 16pt;
      padding-left: 2rem;
      font-family: 'Alegreya Sans SC';
  
  }
  .navbar {
      grid-column: 1/4;
      text-align: right;
      padding: 2%;
      border-bottom: 2px solid black;
      margin-bottom: 2%;
  }

  .content {
    text-align: center;
    grid-column: 1/4;
    height: 100%;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  
  
  }
  #profile:hover {
    transform: scale(1.15);
  
  }
  
  img#profile2 {
    max-width: 200px;
    border-radius: 50%;
  }
  
  img#profile {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 0;
    transition: width 2s, height 2s, transform 2s;
  
  }
  
  #profile {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
  
  }

  .name {
    grid-column: 1 / 4;
    height: 100%;
    background-color: #caece3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  h2 {
    font-family: 'Alegreya Sans SC';
    font-size: 34pt;
  
  }
  
  .aboutmepic {
    grid-column: 1/4;
    text-align: center;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 11% 5% 5% 5%;
  
  }
  
  .aboutme {
    grid-column: 1/4;
    padding: 6% 5% 5% 5%;
  
    background-color: #caece3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
  }
  
  h3 {
    text-align: left;
    font-family: 'Alegreya Sans SC';
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    font-size: 14pt;
    background-color: white;
  }

  h4 {
    font-size: 14pt;
    font-family: 'Alegreya Sans SC';
  }

  .recentwork {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr ;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    text-align: center;
    font-size: 16pt;
    background-color: #caece3;
    padding: 10% 5% 120%;
    border-radius: 20px;
  }
  
  
  #project {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left:18%;
    background-color: #caece3;
  }
  
  #project2 {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 550px;
    margin-left: 18%;
  }
  
  
  #project img {
    max-height: 250px;
    border-radius: 10px;
  
  }
  
  #project2 p {
    font-size: 16pt;
  
  }
  
  #project2 p:hover {
    font-size: 24pt;
  }

  .experience {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 5% 1fr ;
    /* width: max-content; */
    background-color: #caece3;
    border-radius: 20px;
  }
  
  .timeline {
    grid-column: 2;
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    letter-spacing: 0.5px;
    /* box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307); */
    padding: 5%;
    height: 95%;
    margin-bottom: 10%;
  }
  
  .timeline2 {
    grid-column: 2;
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    letter-spacing: 0.5px;
    padding: 5%;
    height: 95%;
  }

  .container2 {
    grid-column: 1;
    margin-top: 50%;
    width: 100%;
    height: 357px;
  
  }
  
  .container3 {
    grid-column: 1;
    margin-top: 30%;
    width: 100%;
    height: 357px;
  
  }
  
  .lines {
    margin-left: 40%;
    margin-top: 90%;
  
  }
  
  .dot {
    width: 14px;
    height: 14px;
    background: #ee6352;
    border-radius: 7px;
  }
  
  .line {
    height: 132px;
    width: 2px;
    background: #D1D6E6;
    margin-left: 5.3px;
  }

 }

 /* _____________________________________500_____________________________________________ */

 @media only screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
  }
  ul {
      display: inline;
      vertical-align: middle;
      list-style: none;
      padding-left: 2rem;
      margin-bottom: 0;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  li {
      display: inline;
      font-size: 16pt;
      padding-left: 2rem;
      font-family: 'Alegreya Sans SC';
  
  }
  .navbar {
      grid-column: 1/4;
      text-align: right;
      padding: 2%;
      border-bottom: 2px solid black;
      margin-bottom: 2%;
  }

  .content {
    text-align: center;
    grid-column: 1/4;
    height: 100%;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  
  
  }
  #profile:hover {
    transform: scale(1.15);
  
  }
  
  img#profile2 {
    max-width: 200px;
    border-radius: 50%;
  }
  
  img#profile {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 0;
    transition: width 2s, height 2s, transform 2s;
  
  }
  
  #profile {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
  
  }

  .name {
    grid-column: 1 / 4;
    height: 100%;
    background-color: #caece3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  h2 {
    font-family: 'Alegreya Sans SC';
    font-size: 34pt;
  
  }
  
  .aboutmepic {
    grid-column: 1/4;
    text-align: center;
    background-color: #caece3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 11% 5% 5% 5%;
  
  }
  
  .aboutme {
    grid-column: 1/4;
    padding: 6% 5% 5% 5%;
  
    background-color: #caece3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
  }
  
  h3 {
    text-align: left;
    font-family: 'Alegreya Sans SC';
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307);
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    font-size: 14pt;
    background-color: white;
  }

  h4 {
    font-size: 14pt;
    font-family: 'Alegreya Sans SC';
  }

  .recentwork {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr ;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    text-align: center;
    font-size: 16pt;
    background-color: #caece3;
    padding: 10% 5% 120%;
    border-radius: 20px;
  }
  
  
  #project {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-left:18%;
    background-color: #caece3;
  }
  
  #project2 {
    border: 0;
    border-radius: 10px;
    max-width: 250px;
    max-height: 550px;
    margin-left: 18%;
  }
  
  
  #project img {
    max-height: 250px;
    border-radius: 10px;
  
  }
  
  #project2 p {
    font-size: 16pt;
  
  }
  
  #project2 p:hover {
    font-size: 24pt;
  }

  .experience {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 5% 1fr ;
    /* width: max-content; */
    background-color: #caece3;
    border-radius: 20px;
  }
  
  .timeline {
    grid-column: 2;
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    letter-spacing: 0.5px;
    /* box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.307); */
    padding: 5%;
    height: 95%;
    margin-bottom: 10%;
  }
  
  .timeline2 {
    grid-column: 2;
    font-family: 'Alegreya Sans SC';
    font-size: 14pt;
    letter-spacing: 0.5px;
    padding: 5%;
    height: 95%;
  }

  .container2 {
    grid-column: 1;
    margin-top: 50%;
    width: 100%;
    height: 357px;
  
  }
  
  .container3 {
    grid-column: 1;
    margin-top: 30%;
    width: 100%;
    height: 357px;
  
  }
  
  .lines {
    margin-left: 40%;
    margin-top: 90%;
  
  }
  
  .dot {
    width: 14px;
    height: 14px;
    background: #ee6352;
    border-radius: 7px;
  }
  
  .line {
    height: 132px;
    width: 2px;
    background: #D1D6E6;
    margin-left: 5.3px;
  }

 }